SERVER_PORT=3000
SERVER_ADDRESS=localhost

DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_PASS=admin
DB_DATABASE=goran

SECURITY_EXPIRES_IN=3600
SECURITY_BCRYPT_SALT=10
SECURITY_REFRESH_IN=7d
JWT_REFRESH_SECRET=dev-refresh-secret-change-me
JWT_ACCESS_SECRET=dev-access-secret-change-me

API_BASE_URL=http://localhost:3000/api

MAIL_INFRA=disabled
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=Goran <noreply@goran.local>
RESEND_GORAN_API=

FILES_INFRA=minio
FILES_MINIO_ENDPOINT=localhost
FILES_MINIO_PORT=9000
FILES_MINIO_USE_SSL=false
FILES_MINIO_ACCESSKEY=minioadmin
FILES_MINIO_SECRETKEY=minioadmin
FILES_MINIO_BUCKETNAME=goran

SERVER_PASSWORD_RESET_URL=http://localhost:3001/sign-in
